/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* custom styles */

* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
}

.header, .footer {
  background: #5a88f6;
  color: #ffffff;
}

.header-link {
  font-size: 32px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px;
}

.category {
  padding: 25px 0;
}

.category__title {
  font-size: 24px;
}

.category-description {
  margin: 10px 0;
}

.category__link {
  display: inline-block;
  background: #5a88f6;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.post-summary {
  padding: 10px 0;
}

.post-summary__title {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.post-summary__views {
  font-size: 10px;
  color: #838383;
}

.post-summary__content {
  color: #323232;
  margin: 5px 0;
}

.post-summary__date {
  font-size: 14px;
  color: #737171;
}

.post {
  margin-bottom: 30px;
}

.post__views {
  font-size: 10px;
  color: #838383;
}

.post__content {
  color: #323232;
  margin: 5px 0;
}

.post__date {
  font-size: 14px;
  color: #737171;
}

.post-category {
  font-weight: 900;
  border-radius: 15px;
  padding: 3px 5px;
  font-size: 12px;
  color: #fff;
  background: #de4949;
  text-decoration: none;
}

.post-recommendations {
  display: flex;
  gap: 10px;

  .post-summary__title {
    font-size: 14px;
  }

  .post-summary__content {
    font-size: 12px;
  }

  .post-summary__date {
    font-size: 10px;
  }
}
